.login-container {
    max-width: 300px;
   
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
    
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #a5aaaf;
    color: #fff;
     border: none;
    border-radius: 3px;
    cursor: pointer; 
  
  }
  
   