.about{
    background: url(./pexels-kerde-severin-1542252.jpg) no-repeat scroll center / cover;
    width: 80%;
    height: 80vh;
     margin-left: 90px; 
    margin-top: 60px;
   
    background-color: black;
   
      
    }





    



    
    





